name: GPT Review

permissions:
  contents: read
  pull-requests: write

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  review:
    if: ${{ contains(github.event.pull_request.labels.*.name, 'gpt review') }}
    runs-on: ubuntu-latest
    name: GPT Review
    steps:
      - uses: anc95/ChatGPT-CodeReview@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY_OLSHANSKY }}
          # Optional
          LANGUAGE: English
          MODEL: gpt-4
          # top_p: 1
          # temperature: 1
