name: Generate helm docs
on:
  pull_request:
    paths:
      - "charts/**/README.md.gotmpl"
      - "charts/**/values.yaml"
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Render helm docs inside the README.md and push changes back to PR branch
        uses: shaybentk/helm-docs-action@v0.0.1
        with:
          working-dir: charts
          git-push: "true"
